DATABASE_URL=
DATABASE_REPLICA_URL=
DATABASE_BACKUP_URL=

REDIS_HOST=
REDIS_PORT=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
EMAILJS_PUBLIC_KEY=
EMAILJS_PRIVATE_KEY=

MASTER_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

ARCJET_ENV=
ARCJET_KEY=
ARCJET_MODE=

OPENROUTER_API_KEY=
APP_URL=

CUSTOMER_EMAIL_SECRET=